<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dischi ajax</title>
    <!-- style -->
    <link rel="stylesheet" href="../php/style/css/main.css">
    <!-- cdn vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- axios cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
</head>
<body>
    <div id="app">
        <!-- header content -->
        <header>
            <div class="container">
                <h1>
                    <a href="#">
                        <img src="../php/img/logo.png" alt="spotify">
                    </a>
                </h1>
                <div>
                    <select @change="getFiltered" v-model="filterArtist" name="artists-fileter" id="artists">
                        <option value="all">All</option>
                        <option v-for="artist in artists" :value="artist">
                            {{artist}}
                        </option>
                    </select>
                </div>
            </div>
        </header>
        <!-- main content -->
        <main>
            <div class="container">
                <div class="card" v-for="album in albums">
                    <div class="poster">
                        <img :src="album.poster" :alt="album.title">
                    </div>
                    <h2>{{album.title}}</h2>
                    <div>{{album.author}}</div>
                    <div>{{album.year}}</div>
                    <div>{{album.genre}}</div>
                </div>
            </div>
        </main>
    </div>
    <!-- vue -->
    <script src="./js/main.js"></script>
</body>
</html>